<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script type="text/javascript" src="/static/plugins/jquery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/static/plugins/layer/layer.js"></script>
    <link rel="stylesheet" href="/static/plugins/layer/skin/layer.css"/>
    <link rel="shortcut icon" th:href="@{/static/img/favicon.ico}"/>
    <link rel="bookmark" th:href="@{/static/img/favicon.ico}"/>
    <title>首页</title>
    <style>
        table, td, th {
            border: 1px solid green;
        }

        th {
            background-color: green;
            color: white;
        }
    </style>
</head>

<div>
    Msg1-发送同步消息，传递字符串参数：<input id="msg1" name="message"/>
    <input type="button" value="发送消息" onclick="sendMsg1()"/>
</div>
<p/>
<div>
    Msg2-发送同步消息，传递实体类参数：<input id="msg2" name="message"/>
    <input type="button" value="发送消息" onclick="sendMsg2()"/>
</div>
<p/>
<div>
    Msg3-发送同步消息，构建消息体：<input id="msg3" name="message"/>
    <input type="button" value="发送消息" onclick="sendMsg3()"/>
</div>
<p/>
<div>
    Msg4-发送同步消息，使用extRocketMQTemplate，string-topic：<input id="msg4" name="message"/>
    <input type="button" value="发送消息" onclick="sendMsg4()"/>
</div>
<p/>
<div>
    Msg5-发送同步消息，使用rocketMQTemplate，string-topic：<input id="msg5" name="message"/>
    <input type="button" value="发送消息" onclick="sendMsg5()"/>
</div>
<p/>
<div>
    Msg6-发送异步消息：<input id="msg6" name="message"/>
    <input type="button" value="发送消息" onclick="sendMsg6()"/>
</div>
<p/>
<div>
    Msg7-发送消息，自动把参数转换为消息体：<input id="msg7" name="message"/>
    <input type="button" value="发送消息" onclick="sendMsg7()"/>
</div>
<p/>
<div>
    Msg8-发送批量消息：<input id="msg8" name="message"/>
    <input type="button" value="发送消息" onclick="sendMsg8()"/>
</div>
<p/>
<div>
    Msg9-发送批量顺序消息：<input id="msg9" name="message"/>
    <input type="button" value="发送消息" onclick="sendMsg9()"/>
</div>
<p/>
<div>
    Msg10-发送事务消息 using rocketMQTemplate：<input id="msg10" name="message"/>
    <input type="button" value="发送消息" onclick="sendMsg10()"/>
</div>
<p/>
<div>
    Msg11-发送事务消息 using extRocketMQTemplate：<input id="msg11" name="message"/>
    <input type="button" value="发送消息" onclick="sendMsg11()"/>
</div>
<p/>
<div>
    Msg12-同步发送request并且等待String类型的返回值：<input id="msg12" name="message"/>
    <input type="button" value="发送消息" onclick="sendMsg12()"/>
</div>
<p/>
<div>
    Msg13-同步发送请求，设置超时时间，并等待字节数组类型的返回值：<input id="msg13" name="message"/>
    <input type="button" value="发送消息" onclick="sendMsg13()"/>
</div>
<p/>
<div>
    Msg14-同步发送请求，携带hashKey，指明返回值类型User，并等待User类型返回值：<input id="msg14" name="message"/>
    <input type="button" value="发送消息" onclick="sendMsg14()"/>
</div>
<p/>
<div>
    Msg15-同步发送请求，设置超时时间，设置延迟级别，并接受泛型返回值：<input id="msg15" name="message"/>
    <input type="button" value="发送消息" onclick="sendMsg15()"/>
</div>
<p/>
<div>
    Msg16-发送异步请求，并接受返回值。异步发送需要在回调的接口中指明返回值类型：<input id="msg16" name="message"/>
    <input type="button" value="发送消息" onclick="sendMsg16()"/>
</div>
<p/>
<div>
    Msg17-发送异步请求，并接受返回User类型。异步发送需要在回调的接口中指明返回值类型：<input id="msg17" name="message"/>
    <input type="button" value="发送消息" onclick="sendMsg17()"/>
</div>
<p/>
<div>
    Msg18-发送同步消息，测试消息消费正常和异常情况：<input id="msg18" name="message"/>
    <input type="button" value="发送消息" onclick="sendMsg18()"/>
</div>
<p/>
<div>
    Msg19-发送事务消息以实现分布式事务数据最终一致性：<input id="msg19" name="message"/>
    <input type="button" value="发送消息" onclick="sendMsg19()"/>
</div>

<script type="text/javascript">
    function sendMsg1() {
        let params = {"message": $("#msg1").val()};
        $.ajax({
            type: "POST",
            url: "/provider/msg1",
            data: JSON.stringify(params),
            contentType: 'application/json', // 发送数据类型
            dataType: "json", // 返回数据类型
            success: function (data) {
                console.log(data)
                if (data.success) {
                    layer.msg(data.data, {time: 2000, icon: 1});
                } else {
                    layer.msg(data.error.message, {time: 2000, icon: 2});
                }
            },
            error: function (e) {
                layer.msg("Net error ,try later.", {time: 2000, icon: 2});
            }
        });
    }

    function sendMsg2() {
        let params = {"message": $("#msg2").val()};
        $.ajax({
            type: "POST",
            url: "/provider/msg2",
            data: JSON.stringify(params),
            contentType: 'application/json', // 发送数据类型
            dataType: "json", // 返回数据类型
            success: function (data) {
                console.log(data)
                if (data.success) {
                    layer.msg(data.data, {time: 2000, icon: 1});
                } else {
                    layer.msg(data.error.message, {time: 2000, icon: 2});
                }
            },
            error: function (e) {
                layer.msg("Net error ,try later.", {time: 2000, icon: 2});
            }
        });
    }

    function sendMsg3() {
        let params = {"message": $("#msg3").val()};
        $.ajax({
            type: "POST",
            url: "/provider/msg3",
            data: JSON.stringify(params),
            contentType: 'application/json', // 发送数据类型
            dataType: "json", // 返回数据类型
            success: function (data) {
                console.log(data)
                if (data.success) {
                    layer.msg(data.data, {time: 2000, icon: 1});
                } else {
                    layer.msg(data.error.message, {time: 2000, icon: 2});
                }
            },
            error: function (e) {
                layer.msg("Net error ,try later.", {time: 2000, icon: 2});
            }
        });
    }

    function sendMsg4() {
        let params = {"message": $("#msg4").val()};
        $.ajax({
            type: "POST",
            url: "/provider/msg4",
            data: JSON.stringify(params),
            contentType: 'application/json', // 发送数据类型
            dataType: "json", // 返回数据类型
            success: function (data) {
                console.log(data)
                if (data.success) {
                    layer.msg(data.data, {time: 2000, icon: 1});
                } else {
                    layer.msg(data.error.message, {time: 2000, icon: 2});
                }
            },
            error: function (e) {
                layer.msg("Net error ,try later.", {time: 2000, icon: 2});
            }
        });
    }

    function sendMsg5() {
        let params = {"message": $("#msg5").val()};
        $.ajax({
            type: "POST",
            url: "/provider/msg5",
            data: JSON.stringify(params),
            contentType: 'application/json', // 发送数据类型
            dataType: "json", // 返回数据类型
            success: function (data) {
                console.log(data)
                if (data.success) {
                    layer.msg(data.data, {time: 2000, icon: 1});
                } else {
                    layer.msg(data.error.message, {time: 2000, icon: 2});
                }
            },
            error: function (e) {
                layer.msg("Net error ,try later.", {time: 2000, icon: 2});
            }
        });
    }

    function sendMsg6() {
        let params = {"message": $("#msg6").val()};
        $.ajax({
            type: "POST",
            url: "/provider/msg6",
            data: JSON.stringify(params),
            contentType: 'application/json', // 发送数据类型
            dataType: "json", // 返回数据类型
            success: function (data) {
                console.log(data)
                if (data.success) {
                    layer.msg(data.data, {time: 2000, icon: 1});
                } else {
                    layer.msg(data.error.message, {time: 2000, icon: 2});
                }
            },
            error: function (e) {
                layer.msg("Net error ,try later.", {time: 2000, icon: 2});
            }
        });
    }

    function sendMsg7() {
        let params = {"message": $("#msg7").val()};
        $.ajax({
            type: "POST",
            url: "/provider/msg7",
            data: JSON.stringify(params),
            contentType: 'application/json', // 发送数据类型
            dataType: "json", // 返回数据类型
            success: function (data) {
                console.log(data)
                if (data.success) {
                    layer.msg(data.data, {time: 2000, icon: 1});
                } else {
                    layer.msg(data.error.message, {time: 2000, icon: 2});
                }
            },
            error: function (e) {
                layer.msg("Net error ,try later.", {time: 2000, icon: 2});
            }
        });
    }

    function sendMsg8() {
        let params = {"message": $("#msg8").val()};
        $.ajax({
            type: "POST",
            url: "/provider/msg8",
            data: JSON.stringify(params),
            contentType: 'application/json', // 发送数据类型
            dataType: "json", // 返回数据类型
            success: function (data) {
                console.log(data)
                if (data.success) {
                    layer.msg(data.data, {time: 2000, icon: 1});
                } else {
                    layer.msg(data.error.message, {time: 2000, icon: 2});
                }
            },
            error: function (e) {
                layer.msg("Net error ,try later.", {time: 2000, icon: 2});
            }
        });
    }

    function sendMsg9() {
        let params = {"message": $("#msg9").val()};
        $.ajax({
            type: "POST",
            url: "/provider/msg9",
            data: JSON.stringify(params),
            contentType: 'application/json', // 发送数据类型
            dataType: "json", // 返回数据类型
            success: function (data) {
                console.log(data)
                if (data.success) {
                    layer.msg(data.data, {time: 2000, icon: 1});
                } else {
                    layer.msg(data.error.message, {time: 2000, icon: 2});
                }
            },
            error: function (e) {
                layer.msg("Net error ,try later.", {time: 2000, icon: 2});
            }
        });
    }

    function sendMsg10() {
        let params = {"message": $("#msg10").val()};
        $.ajax({
            type: "POST",
            url: "/provider/msg10",
            data: JSON.stringify(params),
            contentType: 'application/json', // 发送数据类型
            dataType: "json", // 返回数据类型
            success: function (data) {
                console.log(data)
                if (data.success) {
                    layer.msg(data.data, {time: 2000, icon: 1});
                } else {
                    layer.msg(data.error.message, {time: 2000, icon: 2});
                }
            },
            error: function (e) {
                layer.msg("Net error ,try later.", {time: 2000, icon: 2});
            }
        });
    }

    function sendMsg11() {
        let params = {"message": $("#msg11").val()};
        $.ajax({
            type: "POST",
            url: "/provider/msg11",
            data: JSON.stringify(params),
            contentType: 'application/json', // 发送数据类型
            dataType: "json", // 返回数据类型
            success: function (data) {
                console.log(data)
                if (data.success) {
                    layer.msg(data.data, {time: 2000, icon: 1});
                } else {
                    layer.msg(data.error.message, {time: 2000, icon: 2});
                }
            },
            error: function (e) {
                layer.msg("Net error ,try later.", {time: 2000, icon: 2});
            }
        });
    }

    function sendMsg12() {
        let params = {"message": $("#msg12").val()};
        $.ajax({
            type: "POST",
            url: "/provider/msg12",
            data: JSON.stringify(params),
            contentType: 'application/json', // 发送数据类型
            dataType: "json", // 返回数据类型
            success: function (data) {
                console.log(data)
                if (data.success) {
                    layer.msg(data.data, {time: 2000, icon: 1});
                } else {
                    layer.msg(data.error.message, {time: 2000, icon: 2});
                }
            },
            error: function (e) {
                layer.msg("Net error ,try later.", {time: 2000, icon: 2});
            }
        });
    }

    function sendMsg13() {
        let params = {"message": $("#msg13").val()};
        $.ajax({
            type: "POST",
            url: "/provider/msg13",
            data: JSON.stringify(params),
            contentType: 'application/json', // 发送数据类型
            dataType: "json", // 返回数据类型
            success: function (data) {
                console.log(data)
                if (data.success) {
                    layer.msg(data.data, {time: 2000, icon: 1});
                } else {
                    layer.msg(data.error.message, {time: 2000, icon: 2});
                }
            },
            error: function (e) {
                layer.msg("Net error ,try later.", {time: 2000, icon: 2});
            }
        });
    }

    function sendMsg14() {
        let params = {"message": $("#msg14").val()};
        $.ajax({
            type: "POST",
            url: "/provider/msg14",
            data: JSON.stringify(params),
            contentType: 'application/json', // 发送数据类型
            dataType: "json", // 返回数据类型
            success: function (data) {
                console.log(data)
                if (data.success) {
                    layer.msg(data.data, {time: 2000, icon: 1});
                } else {
                    layer.msg(data.error.message, {time: 2000, icon: 2});
                }
            },
            error: function (e) {
                layer.msg("Net error ,try later.", {time: 2000, icon: 2});
            }
        });
    }

    function sendMsg15() {
        let params = {"message": $("#msg15").val()};
        $.ajax({
            type: "POST",
            url: "/provider/msg15",
            data: JSON.stringify(params),
            contentType: 'application/json', // 发送数据类型
            dataType: "json", // 返回数据类型
            success: function (data) {
                console.log(data)
                if (data.success) {
                    layer.msg(data.data, {time: 2000, icon: 1});
                } else {
                    layer.msg(data.error.message, {time: 2000, icon: 2});
                }
            },
            error: function (e) {
                layer.msg("Net error ,try later.", {time: 2000, icon: 2});
            }
        });
    }

    function sendMsg16() {
        let params = {"message": $("#msg16").val()};
        $.ajax({
            type: "POST",
            url: "/provider/msg16",
            data: JSON.stringify(params),
            contentType: 'application/json', // 发送数据类型
            dataType: "json", // 返回数据类型
            success: function (data) {
                console.log(data)
                if (data.success) {
                    layer.msg(data.data, {time: 2000, icon: 1});
                } else {
                    layer.msg(data.error.message, {time: 2000, icon: 2});
                }
            },
            error: function (e) {
                layer.msg("Net error ,try later.", {time: 2000, icon: 2});
            }
        });
    }

    function sendMsg17() {
        let params = {"message": $("#msg17").val()};
        $.ajax({
            type: "POST",
            url: "/provider/msg17",
            data: JSON.stringify(params),
            contentType: 'application/json', // 发送数据类型
            dataType: "json", // 返回数据类型
            success: function (data) {
                console.log(data)
                if (data.success) {
                    layer.msg(data.data, {time: 2000, icon: 1});
                } else {
                    layer.msg(data.error.message, {time: 2000, icon: 2});
                }
            },
            error: function (e) {
                layer.msg("Net error ,try later.", {time: 2000, icon: 2});
            }
        });
    }

    function sendMsg18() {
        let params = {"message": $("#msg18").val()};
        $.ajax({
            type: "POST",
            url: "/provider/msg18",
            data: JSON.stringify(params),
            contentType: 'application/json', // 发送数据类型
            dataType: "json", // 返回数据类型
            success: function (data) {
                console.log(data)
                if (data.success) {
                    layer.msg(data.data, {time: 2000, icon: 1});
                } else {
                    layer.msg(data.error.message, {time: 2000, icon: 2});
                }
            },
            error: function (e) {
                layer.msg("Net error ,try later.", {time: 2000, icon: 2});
            }
        });
    }

    function sendMsg19() {
        let params = {"message": $("#msg19").val()};
        $.ajax({
            type: "POST",
            url: "/provider/msg19",
            data: JSON.stringify(params),
            contentType: 'application/json', // 发送数据类型
            dataType: "json", // 返回数据类型
            success: function (data) {
                console.log(data)
                if (data.success) {
                    layer.msg(data.data, {time: 2000, icon: 1});
                } else {
                    layer.msg(data.error.message, {time: 2000, icon: 2});
                }
            },
            error: function (e) {
                layer.msg("Net error ,try later.", {time: 2000, icon: 2});
            }
        });
    }

</script>

</html>